* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Kanit", sans-serif;
}

img {
	max-width: 100%;
}

.card {
	padding: 1em;
	border-radius: 0.4em;
	background-color: hsl(0, 0%, 90%);
	box-shadow: 5px 0 15px rgb(0 0 0 / 0.2);
}

.card__image {
	border-radius: 0.4em;
}

.card__image-container {
	min-width: 320px;
	border-radius: 0.4em;
	overflow: hidden;
}

.card__header {
	padding: 1em 0;
}

.card__title {
	font-size: 1.2rem;
}

.card__subtitle {
	font-size: 0.9rem;
	opacity: 0.8;
}

.card__link {
	margin-bottom: 0.5em;
}

.card__text {
	font-size: 0.9rem;
}

.main {
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
